{% extends "base.html" %}

{% block main %}

<h4>Cursos</h4>
<hr>
<a href="{% url 'horario:curso_add' %}" class="pure-button btn-adicionar">Adicionar</a>
<table class="pure-table table-list">
    <thead>
        <tr>
            <th>Ações</th>
            <th>#</th>
            <th>Nome</th>
            <th>Carga Horária (h)</th>
        </tr>
    </thead>

    <tbody>
    {% for curso in object_list %}
        <tr>
            <td>
                <a href="{% url 'horario:curso_delete' curso.pk %}"><i class="fas fa-trash"></i></a>
                <a href="{% url 'horario:curso_edit' curso.pk %}"><i class="fas fa-edit"></i></a>
            </td>
            <td>{{ curso.id }}</td>
            <td>{{ curso.nome }}</td>
            <td>{{ curso.carga_horaria }}</td>
        </tr>
    {% empty %}
    <div class="well">
        <h2>
            Nenhum curso cadastrado.
        </h2>
    </div>
{% endfor %}
    </tbody>
</table>
{% endblock %}