{% extends "base.html" %}

{% block main %}

<h4>Disciplinas</h4>
<hr>
<a href="{% url 'horario:disciplina_add' %}" class="pure-button btn-adicionar">Adicionar</a>
<table class="pure-table table-list">
    <thead>
        <tr>
            <th>Ações</th>
            <th>#</th>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Carga Horária Semanal (h)</th>
            <th>Carga Horária Semestral (h)</th>
            <th>Difícil</th>
            <th>Disciplina de Estágio</th>
        </tr>
    </thead>
    <tbody>
    {% for disciplina in object_list %}
        <tr>
            <td>
                <a href="{% url 'horario:disciplina_delete' disciplina.pk %}"><i class="fas fa-trash"></i></a>
                <a href="{% url 'horario:disciplina_edit' disciplina.pk %}"><i class="fas fa-edit"></i></a>
            </td>
            <td>{{ disciplina.id }}</td>
            <td>{{ disciplina.nome }}</td>
            <td>{{ disciplina.sigla }}</td>
            <td>{{ disciplina.carga_horaria_semanal }}</td>
            <td>{{ disciplina.carga_horaria_semestral }}</td>
            <td>{% if disciplina.dificil %} Sim {% else %} - {% endif %}</td>
            <td>{% if disciplina.disciplina_estagio %} Sim {% else %} - {% endif %}</td>
        </tr>
    {% empty %}
    <div class="well">
        <h2>
            Nenhuma disciplina cadastrada.
        </h2>
    </div>
{% endfor %}
    </tbody>
</table>
{% endblock %}