{% extends "admin/base.html" %}

{% load static %}

{% block content %}
<h4>Gerar Horário</h4>
<hr>
<form class="" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="">
            <button id="gerar-horario" type="submit" class="pure-button pure-button-primary" onclick="spinner()">
                Gerar Horário
            </button>
        </div>
    </fieldset>
</form>

<script>
function spinner() {
  document.getElementById("gerar-horario").innerHTML = "<span class=\"spinner-grow spinner-grow-sm\" role=\"status\" aria-hidden=\"true\"></span>Gerando horário...";
}
</script>
{% endblock %}

{#<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>#}