{% extends "admin/base.html" %}

{% load static %}


{% block content %}
<div class="index">
    <div class="d-flex p-3 bg-light text-black-50 justify-content-around">
        <div class="p-2">
            <div class="wrapper">
                <span class="display-2">{{ total_cursos }}</span>
                <p><a href="/admin/horario/curso/">cursos</a></p>
            </div>
        </div>

        <div class="p-2">
            <div class="wrapper">
               <span class="display-2">{{ total_disciplinas }}</span>
                <p><a href="/admin/horario/disciplina/">disciplinas</a></p>
            </div>
        </div>

        <div class="p-2">
            <div class="wrapper">
                <span class="display-2">{{ total_professores }}</span>
                <p><a href="/admin/horario/professor/">professores</a></p>
            </div>
        </div>


    </div>
    <div class="d-flex p-3 bg-light text-black-50 justify-content-around">
        <div class="p-2">
            <div class="wrapper">
                <span class="display-2">{{ total_turmas }}</span>
                <p><a href="/admin/horario/turma/">turmas</a></p>
            </div>
        </div>

        <div class="p-2">
            <div class="wrapper">
                <span class="display-2">{{ total_indisponibilidades }}</span>
                <p><a href="/admin/horario/indisponibilidade/">indisponibilidades</a></p>
            </div>
        </div>

        <div class="p-2">
            <div class="wrapper">
                <span class="display-2">{{ total_preferencias }}</span>
                <p><a href="/admin/horario/preferencia/">preferências</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}