{% extends "base.html" %}

{% block main %}

<h4>Periodo Letivos</h4>
<hr>
<a href="{% url 'horario:periodoletivo_add' %}" class="pure-button btn-adicionar">Adicionar</a>
<table class="pure-table table-list">
    <thead>
        <tr>
            <th>Ações</th>
            <th>#</th>
            <th>Nome</th>
            <th>Início</th>
            <th>Término</th>
        </tr>
    </thead>

    <tbody>
    {% for periodoletivo in object_list %}
        <tr>
            <td>
                <a href="{% url 'horario:periodoletivo_delete' periodoletivo.pk %}"><i class="fas fa-trash"></i></a>
                <a href="{% url 'horario:periodoletivo_edit' periodoletivo.pk %}"><i class="fas fa-edit"></i></a>
            </td>
            <td>{{ periodoletivo.id }}</td>
            <td>{{ periodoletivo.nome }}</td>
            <td>{{ periodoletivo.inicio }}</td>
            <td>{{ periodoletivo.termino }}</td>
        </tr>
    {% empty %}
    <div class="well">
        <h2>
            Nenhum período letivo cadastrado.
        </h2>
    </div>
{% endfor %}
    </tbody>
</table>
{% endblock %}