{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">

    <link rel="shortcut icon" href="{% static 'horario/img/favicon.ico' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'horario/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'horario/css/pure-min.css' %}" />
    <link rel="stylesheet" href="{% static 'horario/css/style.css' %}" />


    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">

<div class="pure-g">
{% if user.is_active and user.is_staff %}
    <div class="pure-u-1-6">
        <div id="user">
        <div id="foto" class="rounded-circle">
            <i class="fas fa-user"></i>
        </div>
            <p>
                {% block welcome-msg %}
                    {% trans 'Welcome,' %}
                    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                {% endblock %}
            </p>
        </div>
        <div id="hr">
            <hr class="hr-menu">
        </div>
        <div id="box-menu">
            <li><i class="fas fa-home"></i><a href="{% url 'horario:index' %}">INÍCIO</a></li>
            <li><i class="fas fa-calendar"></i><a href="{% url 'horario:gerarhorario' %}" class="top-menu">Gerar Horário</a></li>
            <li>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fas fa-plus"></i><a data-toggle="collapse" href="#collapse1">Cadastros</a>
                        <div id="collapse1" class="panel-collapse collapse">
                            <ul class="list-group ml-3">
                                <li><i class="fas fa-graduation-cap"></i><a href="/admin/horario/curso" class="top-menu">Cursos</a></li>
                                <li><i class="fas fa-book"></i><a href="/admin/horario/disciplina" class="top-menu">Disciplinas</a></li>
                                <li><i class="fas fa-chalkboard-teacher"></i><a href="/admin/horario/professor" class="top-menu">Professores</a></li>
                                <li><i class="fas fa-users"></i><a href="/admin/horario/turma"  class="top-menu">Turmas</a></li>
                                <li><i class="fas fa-arrows-alt-h"></i><a href="/admin/horario/lotacao" class="top-menu">Lotações</a></li>
                                <li><i class="fas fa-calendar-alt"></i><a href="/admin/horario/periodoletivo" class="top-menu">Períodos Letivos</a></li>
                                <li><i class="fas fa-calendar-times"></i><a href="/admin/horario/indisponibilidade" class="top-menu">Indisponibilidades</a></li>
                                <li><i class="fas fa-user-clock"></i><a href="/admin/horario/preferencia" class="top-menu">Preferências</a></li>
                                <li><i class="fas fa-calendar-minus"></i><a href="/admin/horario/feriado" class="top-menu">Feriados</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </div>
{% endif %}
    <div class="pure-u-5-6">
        <div class="pure-g-r content-ribbon messages">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}
        </div>
        <div id="box-conteudo">

            {% if not is_popup %}
                <!-- Header -->
                <div id="header">
                    <div id="branding">
                        {% block branding %}{% endblock %}
                    </div>
                    {% block usertools %}
                        {% if has_permission %}
                            <div id="user-tools">
{#                                {% block welcome-msg %}#}
{#                                    {% trans 'Welcome,' %}#}
{#                                    <strong>{% firstof user.get_short_name user.get_username %}</strong>.#}
{#                                {% endblock %}#}
                                {% block userlinks %}
{#                                    {% if site_url %}#}
{#                                        <a href="{{ site_url }}">{% trans 'View site' %}</a> /#}
{#                                    {% endif %}#}
                                    {% if user.is_active and user.is_staff %}
                                        {% url 'django-admindocs-docroot' as docsroot %}
                                        {% if docsroot %}
                                            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                                        {% endif %}
                                    {% endif %}
                                    {% if user.has_usable_password %}
                                        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                                    {% endif %}
                                    <a href="{% url 'admin:logout' %}">Sair</a>
                                {% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}
                    {% block nav-global %}{% endblock %}
                </div>
                <!-- END Header -->
                {% block breadcrumbs %}
                    <div class="breadcrumbs">
                        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                        {% if title %} &rsaquo; {{ title }}{% endif %}
                    </div>
                {% endblock %}
            {% endif %}


            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear">
            </div>
            <!-- END Content -->

            {% block main %}

            {% endblock %}
        </div>
    </div>
</div>
<div class="footer">
    {% block footer %}
        <div id="footer"></div>
        <p>Horário Acadêmico</p>
    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>