/*  */
html,
body,
.pure-g {
    background: #fff;
    height: 100%;
    font-size: medium;
}

#user {
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

#user #foto {
    background: #37474F;
    height: 90px;
    margin: 0 70px 0 70px;
}

#user #foto i {
    margin-top: 10px;
    font-size: 50pt;
}

.pure-u-1-6 {
    background: #263238;
    flex-basis: 240px;
    min-height: 100vh;
}

#box-menu {
    color: #fff;
    padding-left: 20px;
}

#box-menu a {
    color: #fff;
    text-decoration: none;
    font-size: medium;
}

#box-menu li {
    list-style-type: none;
    margin-bottom: 20px;
}

#box-menu li i{
    padding-right: 7px;
}

#hr {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hr-menu {
    border-top: 1px solid #616161;
    width: 80%;
}

.list-group li {
    border-bottom: 1px solid #616161;
    margin-right: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #263238;
    color: white;
    text-align: center;
}

/* */


/* Personalizações do admin */
#header {
    background-color:  #fff;
}

#header #branding h1 {
    color: #fff;
}

#user-tools,
#header #user-tools a {
    font-size: small;
    color: #263238;
}

.submit-row input {
    background-color:  #263238;
}

div.breadcrumbs, div.breadcrumbs a {
    color: #263238;
    background: #fff;
}

.module h2, .module caption, .inline-group h2, .selector-chosen h2 {
    background: #263238;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: green;
}

.object-tools a.addlink {
    background-color: green;
}

a:link, a:visited {
    color: #263238;
}

.login #content-main {
    display: flex;
    justify-content: center;
}

#content {
    margin-bottom: 50px;
}